<div class="container">
  <div class="table-responsive">
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile</th>
          <th scope="col">Job Title</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.mobile }}</td>
          <td>{{ user.designation }}</td>
          <td><button type="button" class="btn btn-primary">Edit</button></td>
          <td>
            <a type="button" class="btn btn-danger" (click)="onDelete(user.id)">
              Delete
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
